// -----------------------------
// Gentlemen: CSS > Navigation
// -----------------------------

// Navigation Bar
// --------------

.navigation-bar {
    background-color: @color-swatch2;
}

.widget__extendednavigation.open:after {
    background-color: @color__feature-content--background;
}


// Navigation List
// ---------------

.navigation-list {
    min-width: 220px;
    margin: 0;
}


// Default Page
.default-page .navigation-list--children {
    background-color: @color-swatch2;
}

// Navigation Item
// ---------------

.navigation-item {
    @media @tablet {
        width: 100%;
    }
}


// Navigation Link
.navigation-item .item-name {
    padding: 5px 15px;
    &:hover {
        color: @color__navigation--text--selected;
    }
}

.item-name {
    padding: 16px 20px;
}


// Selected Class
.extendednavigation li.selected > a  {
    color: @color__navigation--text--selected;
}

.navigation-item.folder .navigation-item--child a {
    color: @color__h4--text;
}

.extendednavigation__navigation-item.folder.selected span {
    color: @color__navigation--text--selected;
}

.extendednavigation__navigation-item.folder.selected .selected {
    color: @color__navigation--text--selected;
}


// Dropdown Menu
// -------------
.navigation-item.folder {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.navigation-item.folder .navigation__item-name {
    color: @color__h4--text;
    &:hover {
        color: @color__h4--text;
    }
}

.item-name--parent {

    &:after {
        font-family: 'FontAwesome', sans-serif;
        display: inline-block;
        margin-left: 0.8em;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
            display: inline-block;
        vertical-align: middle;
        content: "";
        margin-left: 4px;
        border: 5px solid transparent;
        border-top-color: @color__navigation--text;
        @media @tablet {
            content: "";
            font-size: 0.8em;
        }
        .navigation-item.open & {
            @media @tablet {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }
    }
}

.navigation-list--children,
.default-page .navigation-list--children {
    border: 0;
    background-color: #f5f5f5;
    z-index: 99999;
    .navigation__item-name {
        color:@color__feature-strapline--text;
    }
    @media @tablet {
        position: relative;
        top: 0;
        .navigation-item:hover & {
            display: none;
        }
        .navigation-item.open & {
            display: block;
        }
    }
}


// Dropdown Transition
// -------------------

.open > .navigation-list--children {
   max-height: 200px;
}
  
.navigation-list--children {
    max-height: 0;
    overflow: hidden;

    /* Set our transitions up. */
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
}


// Burger Icon
// -------------

.navigation-toggle {
    display: none;
}

@media @tablet {
    .navigation-toggle {
        display: block;
        overflow: hidden;
        width: 100%;
        height: 45px;
        text-indent: 3000px;
        line-height: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        outline: 0;
        border: 0;
        &:before {
            content: '';
            position: absolute;
            width: 26px;
            height: 3px;
            top: 0;
            left: 50%;
            right: 0;
            margin-top: 15px;
            margin-left: -13px;
            background: @color-swatch7;
            box-shadow: 0 6px 0 @color-swatch7;
            .transition( all, 0.5s, ease );
        }
        &:after {
            content: '';
            position: absolute;
            width: 26px;
            height: 3px;
            top: 12px;
            left: 50%;
            right: 0;
            margin-top: 15px;
            margin-left: -13px;
            background: @color-swatch7;
            .transition( all, 0.5s, ease );
        }
    }
    .navigation-toggle:hover {
        border: 0;
            &:before {
                background: @color-swatch7;
                box-shadow: 0 6px 0 @color-swatch7;
            }
            &:after {
                background: @color-swatch7;
            }
    }
    // Toggle Button Open State
    .open & {
        &.navigation-toggle {
            background-color: @color-swatch3;
            &:before {
                margin-top: 21px;
                background: @color-swatch7;
                box-shadow: none;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                .transition( all, 0.5s, ease );
            }
            &:after {
                content: '';
                position: absolute;
                width: 26px;
                height: 3px;
                top: 0;
                left: 50%;
                right: 0;
                margin-top: 21px;
                margin-left: -13px;
                background: @color-swatch7;
                box-shadow: none;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                .transition( all, 0.5s, ease );
            }
        }
    }
    .navigation-body {
        display: none;
        .open & {
            display: block;
        }
    }
    .navigation-item {
        width: 100%;
    }
}

// -----------------------------
// Burger Icon Transitions
// -----------------------------

.transition (@prop: all, @time: 0.5s, @ease: ease) {
    -webkit-transition: @prop @time @ease;
    -moz-transition:    @prop @time @ease;
    -ms-transition:     @prop @time @ease;
    -o-transition:      @prop @time @ease;
    transition:         @prop @time @ease;
}

