// -----------------------------
// The Croft: CSS > Navigation
// -----------------------------

// Homepage Nav
// --------------

.homepage-nav {
    margin-top: 30px;
    @media @tablet {
        margin-top: 0;
    }
}

.homepage-nav .main-content .widget {
    @media @tablet {
        margin: 0;
    }
}


// Navigation Bar
// --------------

.navigation-bar {
    background-color: @color-swatch2;
}

.widget__extendednavigation.open:after {
    background-color: @color__feature-content--background;
}


// Navigation List
// ---------------

.navigation-list {
    min-width: 220px;
    margin: 0;
}


// Default Page
.default-page .navigation-list--children {
    background-color: @color-swatch2;
}

// Navigation Item
// ---------------

.navigation-item {
    @media @tablet {
        width: 100%;
    }
}


// Navigation Link
.navigation-item .item-name {
    padding: 5px 15px;
    &:hover {
        color: @color__navigation--text--selected;
    }
}

.item-name {
    padding: 16px 20px;
}


// Selected Class
.extendednavigation li.selected > a  {
    color: @color__navigation--text--selected;
}

.navigation-item.folder .navigation-item--child a {
    color: @color__h4--text;
}

.extendednavigation__navigation-item.folder.selected span {
    color: @color__navigation--text--selected;
}

.extendednavigation__navigation-item.folder.selected .selected {
    color: @color__navigation--text--selected;
}


// Dropdown Menu
// -------------
.navigation-item.folder {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.navigation-item.folder .navigation__item-name {
    color: @color__h4--text;
    &:hover {
        color: @color__h4--text;
    }
}

.item-name--parent {

    &:after {
        font-family: 'FontAwesome', sans-serif;
        display: inline-block;
        margin-left: 0.8em;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        display: inline-block;
        vertical-align: middle;
        content: "";
        margin-left: 4px;
        border: 5px solid transparent;
        border-top-color: @color__navigation--text;
        @media @tablet {
            content: "";
            font-size: 0.8em;
        }
        .navigation-item.open & {
            @media @tablet {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }
    }
}

.navigation-list--children,
.default-page .navigation-list--children {
    border: 0;
    background-color: #f5f5f5;
    z-index: 99999;
    .navigation__item-name {
        color:@color__feature-strapline--text;
    }
    @media @tablet {
        position: relative;
        top: 0;
        .navigation-item:hover & {
            display: none;
        }
        .navigation-item.open & {
            display: block;
        }
    }
}


// Dropdown Transition
// -------------------

.open > .navigation-list--children {
   max-height: 200px;
}
  
.navigation-list--children {
    max-height: 0;
    overflow: hidden;

    /* Set our transitions up. */
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
}


// Burger Icon
// -------------

.navigation-toggle {
    display: none;
}

@media @tablet {
    .navigation-toggle {
        display: block;
        overflow: hidden;
        width: 100%;
        height: 45px;
        text-indent: 3000px;
        line-height: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        outline: 0;
        border: 0;
        background-color: @color__secondary;
        &:before {
            content: '';
            position: absolute;
            width: 26px;
            height: 3px;
            top: 0;
            left: 50%;
            right: 0;
            margin-top: 15px;
            margin-left: -13px;
            background: white;
            box-shadow: 0 6px 0 white;
            .transition( all, 0.5s, ease );
        }
        &:after {
            content: '';
            position: absolute;
            width: 26px;
            height: 3px;
            top: 12px;
            left: 50%;
            right: 0;
            margin-top: 15px;
            margin-left: -13px;
            background: white;
            .transition( all, 0.5s, ease );
        }
    }
    .navigation-toggle:hover {
        border: 0;
            &:before {
                background: white;
                box-shadow: 0 6px 0 white;
            }
            &:after {
                background: white;
            }
    }
    // Toggle Button Open State
    .open & {
        &.navigation-toggle {
            &:before {
                margin-top: 21px;
                background: white;
                box-shadow: none;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                .transition( all, 0.5s, ease );
            }
            &:after {
                content: '';
                position: absolute;
                width: 26px;
                height: 3px;
                top: 0;
                left: 50%;
                right: 0;
                margin-top: 21px;
                margin-left: -13px;
                background: white;
                box-shadow: none;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                .transition( all, 0.5s, ease );
            }
        }
    }
    .navigation-body {
        display: none;
        .open & {
            display: block;
        }
    }
    .navigation-item {
        width: 100%;
    }
    .navigation-list {
        background-color: #f5f5f5;
    }
    .navigation-list--children.extendednavigation__navigation-list {
        background-color: #eaecee;
    }
}

.navigation-list {
@media @tablet {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    }
    }

.navigation-item:nth-child(1) {
@media @tablet {
        -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
    }

.navigation-item:nth-child(2) {
@media @tablet {
        -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
}

.open .navigation-body {
    display: block;
    @media @tablet {
      overflow-y:hidden;
  overflow-x:scroll;
  -webkit-overflow-scrolling:touch;
    }
}


.navigation-item {
    @media @tablet {
        padding: 20px 0;
        display: inline-block;
    }
}

.navigation-list--children.extendednavigation__navigation-list {
    @media @tablet {
        display: block;
        min-width: 150px;
    }
}

.navigation-item.folder {
    @media @tablet {
        &:hover {
            min-width: 150px;
        }
    }
}
